.popup-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #bfbfbf48;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  z-index: 11;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  display: flex;
  align-content: center;
}

.popup {
  margin: auto;
  transition: all 0.6s ease-in-out;
  max-width: 400px;
  background-color: #ffffff;
  transition: all 0.6s ease-in-out;
  color: #000000;
  border-radius: 10px;
  padding: 15px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}

.other-info {
  padding: 10px;
}

@media (max-width: 540px) {
  .popup-wrapper {
    padding: 10px;
  }

  .popup {
    width: 350px;
    max-width: 400px;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
  .popup {
    width: 300px;
  }
}

@media (max-width: 280px) {
  .popup-wrapper {
    padding: 5px;
  }
  .popup {
    width: 265px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
